@import "tailwindcss";

:root{
  --accent: #e91919; /* ajuste se quiser outra cor */
}

.btn-accent {
  @apply px-6 py-3 rounded-xl font-semibold shadow-md inline-flex items-center gap-2;
  background-color: var(--accent);
  color: white;
}

.btn-accent:hover {
  filter: brightness(0.95);
}

/* utility for subtle card */
.card {
  @apply bg-white shadow-sm rounded-2xl p-6;
}